*{
    padding: 0;
    margin: 0;
    font-family: 'DS-Digital', sans-serif;
    border-radius: 0.7vmin;
}

body{
    padding: 5.0vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.0vmin;
}

header{
    text-align: center;
    font-size: 3.0vmin;
    color: #443266;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.0vmin;
    padding: 2.0vmin;
    border: #443266 solid 0.3vmin;
    background-color: #C3C3E5;
    box-shadow: 0 0 1.0vmin 0 #443266;
}

.screenWrapper{
    border-radius: 0.5vmin;
    padding: 1.0vmin;
    width: 33.0vmin;
    min-height: 8.0vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #443266 solid 0.3vmin;
    background: #F1F0FF;
    box-shadow: inset 0 0 0.5vmin 0 #443266;
}

#prevScreen{
    border-radius: 0vmin;
    min-height: 3.0vmin;
    background-color: transparent;
    width: 100%;
    text-align: right;
    font-size: 3.0vmin;
    color: #443266;
    word-wrap: break-word;
}

#ansScreen{
    border-radius: 0vmin;
    min-height: 5.0vmin;
    background-color: transparent;
    width: 100%;
    color: black;
    text-align: right;
    font-size: 5.0vmin;
    word-wrap: break-word;
}

.buttonsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.0vmin;
}

.row{
    gap: 1.0vmin;
    width: 35.0vmin;
    display: flex; 
    justify-content: center;
}

button{
    width: 8.0vmin;
    height: 6.5vmin;
    border: #443266 solid 0.3vmin;
    background-color: #8C489F;
    color: #F1F0FF;
    font-size: 3.0vmin;
    cursor: pointer;
    box-shadow: inset 0 0 1.0vmin 0 #443266;

    &:hover{
        background-color: #C3C3E5;
        color: #443266;
        transform: scale(1.03);
    }

    &:active{
        background-color: #443266;
        color: #F1F0FF;
        transform: scale(0.9);
    }
}

#clear, 
#backspace{
    flex: 1;
}

footer a{
    text-decoration: none;
    font-size: 7.0vmin;
    font-weight: bold;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

footer a i{
    color: #443266;

    &:hover{
        animation: rotate 0.4s linear infinite;
    }
}
